.list-container,
.add-container,
.search-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.add-container {
  font-size: 1.7rem;
}

.search-container {
  background: #f30707;
}

.search-bar {
  width: 100%;
  height: 6rem;
  border-radius: 1rem;
  border: 1px solid #afafaf;
  position: relative;
}

.search-bar .search-from {
  min-width: 50%;
  position: absolute;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.search-bar .search-from .from-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.7rem;
  text-align: center;
  text-transform: uppercase;
}

.search-bar .search-from .from-elements label {
  display: inline-block;
  margin-right: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-family: "Nerko One", cursive;
}

.search-bar .search-from .from-elements select {
  max-width: 15rem;
  padding: 0.5rem 0;
  text-align: center;
  outline: none;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-family: "Nerko One", cursive;
  border: none;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.search-bar .search-from .from-elements input {
  max-width: 16rem;
  padding: 0.5rem 1.5rem;
  outline: none;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: normal;
  font-family: "Nerko One", cursive;
  letter-spacing: 0.1rem;
  border-radius: 2rem;
  border: none;
  background: #12a6b6;
  -webkit-box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  color: #494949;
}

.search-bar .search-from .from-elements input:hover {
  background: #0ecadf;
}

.table-container {
  margin-top: 1.5rem;
  width: 100%;
  height: calc(100% - 7.5rem);
  overflow-y: auto;
}

.table-container table {
  width: 100%;
  font-size: 1.7rem;
  border-collapse: collapse;
  border: 1px solid white;
  border-radius: 1rem;
  overflow: hidden;
}

.table-container table thead th {
  position: relative;
  height: 4.2rem;
  font-size: 1.8rem;
  background: #56cddd;
  font-weight: 500;
}

.table-container table tbody tr {
  height: 3.4rem;
  text-align: center;
  background: #ece9e9;
}

.table-container table tbody tr td {
  font-family: "Nerko One", cursive;
}

.table-container table tbody tr td i {
  margin-right: 0.5rem;
  cursor: pointer;
}

.table-container table tbody tr td i:first-child {
  color: #12a6b6;
}

.table-container table tbody tr td i:last-child {
  color: red;
}

.table-container table tbody tr:nth-child(even) {
  background: #afacac;
}

.add-form {
  width: 50%;
  padding: 1.5rem 0 2rem;
  margin: -0.7rem auto 0rem;
  position: relative;
  border-radius: 1rem;
  background: #f2f2f2;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.add-form .form-element {
  width: 100%;
  margin: 0.8rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-form .form-element label {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
  font-weight: 600;
}

.add-form .form-element input,
.add-form .form-element select {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  font-size: 1.6rem;
  padding: 0.6rem 1rem;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(18, 166, 182, 0.1);
  background: transparent;
  color: #50636e;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.add-form .form-element input::-webkit-input-placeholder,
.add-form .form-element select::-webkit-input-placeholder {
  color: #50636e;
}

.add-form .form-element input:-ms-input-placeholder,
.add-form .form-element select:-ms-input-placeholder {
  color: #50636e;
}

.add-form .form-element input::-ms-input-placeholder,
.add-form .form-element select::-ms-input-placeholder {
  color: #50636e;
}

.add-form .form-element input::placeholder,
.add-form .form-element select::placeholder {
  color: #50636e;
}

.add-form .form-element input:focus,
.add-form .form-element select:focus {
  border-bottom: 2px solid #12a6b6;
}

.add-form .form-element div {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-form .form-element div input:first-child {
  width: 50%;
  margin-right: 0.5rem;
}

.add-form .form-element div input:last-child {
  width: 50%;
  margin-left: 0.5rem;
}

.add-form .form-element input[type="date"] {
  font-size: 1.8rem;
}

.add-form .form-element .success {
  border-bottom: 2px solid #00ff22;
}

.add-form .form-element .error {
  border-bottom: 2px solid red;
}

.add-form .form-element:last-child {
  padding: 0 4rem;
  margin-top: 2rem;
}

.add-form .form-element:last-child input {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 1rem 0;
  border-radius: 1.7rem;
  cursor: pointer;
  font-size: 1.9rem;
  border: none;
  background: rgba(18, 166, 182, 0.7);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #464646;
  font-weight: bolder;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.add-form .form-element:last-child input:hover {
  background: #12a6b6;
  color: #fff;
}
/*# sourceMappingURL=student.css.map */